@use './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

:root {

    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    /* Colors */
    --background-primary: rgb(0, 0, 0);
    --background-secondary: rgb(255, 255, 255, 0.1);
    --background-tertiary: rgb(0, 0, 0, 0);
    --button-foreground: rgb(255, 255, 255);
    --container-background: rgb(255, 255, 255, 0.6);
    --container-background-recessed: rgb(255, 255, 255, 0.9);
    --container-background-secondary: rgb(255, 255, 255, 0.1);
    --container-background-tertiary: rgb(255, 255, 255, 0.9);
    --container-border: rgb(255, 255, 255, 0.5);
    --container-border-secondary: rgb(255, 255, 255, 0.2);
    --container-divider: rgb(0, 0, 0, 0.1);
    --container-divider-secondary: rgb(0, 0, 0, 0.2);
    --foreground-primary: rgb(0, 0, 0);
    --foreground-secondary: rgb(0, 0, 0, 0.7);
    --foreground-tertiary: rgb(0, 0, 0, 0.5);
}

body {
    margin: 0;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    /* create a stacking context for the app */
    isolation: isolate;
}
